header {
    background-color: color-mix(in srgb-linear, red 100%, rgb(255, 132, 0) 100%);
    border:2px solid #cc5418;
    width: 100%;
    top:0;
}
.logo_bdr{
    display: flex;
}
.barre_de_recherche{
    text-align: center;
    width: 30%;
    margin-top: 5%;
}
.contenu {
    padding: 0 10 px;
    height: 0;
    opacity:0;
    overflow: hidden;
    transition:opacity 0.5s ease, height 0.5 ease,visibility 0.5 ease,padding 0.5s ease;
 
}
.contenu-open{
    height: 1rem;
    visibility: visible;
    opacity: 1;
    padding: 10px 10px;
    background-color: #765d5d;
} 
*{
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
    color:rgb(229, 229, 229)
}
  
body {
  width: 80%;
  margin: 80px auto;
  background-color: black;
}
  
form {
  border: 1px solid rgba(255, 255, 255, 0.6);
}
  
form > div {
  margin: 30px 20px;
  
}
  
label {
  display: block;
  margin-bottom: 8px;
}
  
input {
  height: 20px;
  width: 40%;
  background-color: #765d5d;
}
button {
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 10px 32px;
    cursor: pointer;
    background-color: #765d5d;
}
    
.message-error {
    border: 1px solid rgba(212, 42, 0, 1);
    color: rgb(212, 42, 0);
    background-color: rgba(212, 42, 0, 0.4);
    padding: 16px 32px;
    margin-bottom: 20px;
    display: none;
}
    
.message-success {
    border: 1px solid rgb(81, 150, 2);
    color: rgb(81, 150, 2);
    background-color: rgba(113, 212, 0, 0.4);
    padding: 16px 32px;
    margin-bottom: 20px;
    display: none;
}