

.barre{
    background-color: coral;
    height: 100%;
}
.red{
    background-color: rgb(0, 0, 0);
    color: #f1f1f1;
    border: 3px solid rgb(152, 47, 47);
}
.red1{
    background-color: rgb(0, 0, 0);
    color: #f1f1f1;
    border: 2.5px solid rgb(152, 47, 47);
}
.red2{
    background-color: rgb(31, 31, 31);
    color: #f1f1f1;
    border: 2.5px solid rgb(48, 47, 47);
}
.red3{
    background-color: rgb(143, 85, 85);
    color: #f1f1f1;
    border: 2.5px solid rgb(0, 0, 0);
}
.logo_bdr{
    display: flex;
}
.barre_de_recherche{
    text-align: center;
    width: 30%;
    margin-top: 5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.menu1 {
    font-size: 40px;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px solid black ;
    margin-left: 10%;
    margin-top: 2.5%;
}
h1 {
    background-color: rgb(174, 167, 167);
}
.cube_de_précision{
    border:5px;
    text-align: center;
    display: flex;
    gap: 300px;
    margin-left:10%;
    margin-top: 1.5%;
}

h2{
    background-color:rgb(248, 106, 12);
    border: 2.5px solid black;
}
a{
    color:#000
}

.premierelignedeperso {
    display: flex;
    gap: 175px;
    margin-left:7.5% ;
    text-align: center;
    margin-top:2%;
}

header {
    background-color: color-mix(in srgb-linear, red 100%, rgb(255, 132, 0) 100%);
    border:2px solid #cc5418;
    width: 100%;
    top:0;
    

}
body {
    background-color: grey;
}
footer {
    text-align: center;
    padding: 5px;
    background-color:rgb(144, 148, 151);
    color: #000;
}
.deuxiemelignedeperso  {
    display: flex;
    gap: 200px;
    margin-left:7.5% ;
    text-align: center;
    margin-top: 2.5%;
}
.total{
    display:flex;
}
.menu2{
    font-size: 40px;
    text-align: center;
    color:Black;
    background-color: darkgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px solid black ;
    margin-left: 5%;
    margin-top: 2.5%;
}
.total1{
    display:flex;
}
.personage{
    display: flex;
    margin-left: 5%;
    gap: 10%;
    margin-top: 2.5%;
}
.contenu_menu{
    background-image: url(site_yanis_hachem_chartrain_G5/planetenamek2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.informations_perso{
    width: 35%;
    background-color: #8b9193;
    border: 1.5px solid black;
    

}
@media screen and(max-width:1000px) {
    .premierelignedeperso{
        width: 100%;
    }
    .deuxiemelignedeperso{
        width: 100%;
    }
}
.cube_de_précision .titre.detail {
    background: lightgray;
    padding: 10px;
    cursor:pointer;
    transition: background-color 0.3s;
}
.cube_de_précision .titre:hover {
    background: darkgrey;
}
.contenu {

    height: 0;
    opacity:0;
    overflow: hidden;
    transition:opacity 0.5s ease, height 0.5 ease,visibility 0.5 ease,padding 0.5s ease;
}
.contenu-open{
    height: 1.5rem;
    visibility: visible;
    opacity: 1;
    border: 1px solid black;
    background-color: #c2b2b2;
} 
